@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 1024px) {
    .popup__food__info {
        width: 60%;
    }
    .partnership__form {
        width: 35%;
    }
    .resturent__logo {
        margin-bottom: 20px;
    }

    .categ__head {
	    order: 2;
	    width: 100%;
	}
	.categ__info {
	    flex-wrap: wrap;
	}
	.food__item_image {
	    width: 100%;
	    justify-content: center;
	    max-width: 100%;
	}
	.google__location__open__hrs{
		width: 60%;
	}
}

@media screen and (max-width: 992px) {
    .create__accoutn__button button {
        max-width: 100%;
        width: 100%;
        margin: 0 0 10px 0;
    }
    .resturent__opening__time {
	    padding: 0 0 2rem 0;
	}
}

@media screen and (max-width: 768px) {
    .popup__food__info {
        width: 80%;
    }
    .partnership__form {
        position: inherit;
        width: 100%;
    }
    .business__detail {
        padding: 4rem 0 0 0;
    }
    .resp__menu__icn {
        display: inline-flex;
    }
    .nav__hldr__resp {
        padding: 0;
    }
    .delivery__info__fees {
        padding-left: 0;
        padding-top: 10px;
    }
	.google__location__open__hrs{
		width: 80%;
	}
  .content__available__restaurant{
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 768px) {
    .header__menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .nav__info {
        padding: 20px 5px;
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    .order__detail {
        width: 100% !important;
    }
}

@media screen and (max-width: 375px) {
    .delivery__info__fees {
        width: 100%;
        padding: 30px 0 0 0;
    }
    .btns__fees {
        width: 100%;
        margin: 10px 0 10px 0;
        padding: 10px;
    }
}


@media screen and (max-width: 340px) {
    .nav__info .logo img{
    	width: 50px;
    }
}

/* RESTAURANTS LIST MEDIA QUARIES */
@media only screen and (max-width: 991px) {
  .res_ifo_d .wrp_res_d {
    grid-template-columns: repeat(auto-fit, 47.66%);
  }
  .res_det_ifo .res_hed_nm h4 {
    font-size: 1rem;
  }
  .det_res_c li i {
    flex: 0 0 6%;
  }
  .det_res_c li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 767px) {
  .res_ifo_d .wrp_res_d {
    grid-template-columns: repeat(auto-fit, 48.4%);
    grid-gap: 1rem;
  }
  .det_res_c li i {
    flex: 0 0 7%;
  }
  .res_det_ifo .res_hed_nm {
    padding-bottom: 0.3rem;
  }
  .res_d_itm .res_det_ifo {
    margin: 0.3rem 0.5rem;
  }
  .res_d_itm {
    grid-template-rows: 150px min-content;
  }
}
@media only screen and (max-width: 575px) {
  .res_ifo_d .wrp_res_d {
    grid-template-columns: repeat(auto-fit, 100%);
    grid-gap: 2rem;
  }
  .res_ifo_d .row {
    margin: 0;
  }
}

/* MEDIA QUERY FOR RECENTLY ADDED FOOD ITEM */
@media only screen and (max-width: 1200px) {
  .wr_r_add_fo {
    grid-template-columns: repeat(auto-fit, 32.2%);
  }
  .i_re__ad_thub img {
    height: 220px;
  }
}
@media only screen and (max-width: 991px) {
  .wr_r_add_fo {
    grid-template-columns: repeat(auto-fit, 31.8%);
  }
  .i_re__ad_thub img {
    height: 150px;
  }
  .i_re_cont .i_rec_ad_cont {
    padding: 0;
    padding-top: 0.5rem;
  }
  .i__cont__det {
    font-size: 13px;
  }
}
@media only screen and (max-width: 767px) {
  .wr_r_add_fo {
    grid-template-columns: repeat(auto-fit, 48.4%);
  }
}
@media only screen and (max-width: 575px) {
  .sec__food__items .row {
    margin: 0;
  }
}

@media only screen and (max-width: 529px) {
  .wr_r_add_fo {
    grid-template-columns: repeat(auto-fit, 100%);
  }
  .i_re__ad_thub img {
    height: 200px;
  }
}
