{% extends 'restaurant/base.html' %}
{% load static %}

{% block content %}
			<div class="it-ad-hl pd-tb-md">
				<div class="rb-pd-rl">
					<div class="it-ac-hd">
						<div class="sc-hd">
							{% if form.instance.pk %}
							<h1>Edit Category</h1>
							{% else %}
							<h1>Add Category</h1>
							{% endif %}
						</div>
					</div>
					<!-- heading -->
					<div class="ad-fd-fm pd-tb-md">
						<form method="post" enctype="multipart/form-data" action="{% if form.instance.pk %}{% url 'restaurant:category-edit' request.restaurant.id restaurantfoodcategory.id %}{% else %}{% url 'restaurant:category-add' request.restaurant.id %}{% endif %}">
							{% csrf_token %}
							<div class="fm-ls sm-mb">
								<label>Category Name</label>
								{{ form.category }}
							</div>
							<!-- form list -->
							<div class="rest__logo sm-mb">
								<div class="fild_inp_logo">
								  <label>Restaurant Logo</label>
								  <input type="file" id="id_cat_image" name="image" />
								</div>
								<div class="logo_pre">
								  	{% if form.instance.image %}
										<img id="cat_image_blah" src="{{ form.instance.image.url }}" alt="your image" />
									{% else %}
										<img id="cat_image_blah" src="{% static 'restaurant/images/rest_logo.jpg' %}" alt="your image" />
									{% endif  %}
								</div>
							</div>
							<!-- form list -->
							<div class="fm-ls sm-mb">
								{% if form.instance.pk %}
								<button class="sb-bt mx-auto d-flex">Edit Category</button>
								{% else %}
								<button class="sb-bt mx-auto d-flex">Add Category</button>
								{% endif %}
							</div>
							</form>
						</div>
			</div>
		</div>
	</div>
	<!-- right body part -->
</div>
</div>
{% endblock %}
