{% extends 'restaurant/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'restaurant/css/datepicker.css' %}" />
{% endblock %}

{% block content %}
	  <div class="col-md-9 ml-auto">
		<div class="row">
		  <div class="right__body__sec">
			<div class="pd-tb-md">
			  <div class="rb-pd-rl rs-in-hl">
				<div class="rs-in">
				  <div class="rs-lg">
					<img src="{% static 'restaurant/images/rest_logo.jpg' %}" alt="" />
				  </div>
				  <div class="rs-in-tx">
					<div class="rs-nm">Name of the Restarurant</div>
					<div class="rs-ad">Address Of the Restaurant</div>
				  </div>
				</div>
				<div class="ac-bt-hl">
					<a href="{% url 'logout' %}"><button class="ac-bt">Logout</button></a>
				</div>
			  </div>
			</div>
			<!-- right top menu -->
			<div class="it-ad-hl pd-tb-md">
			  <div class="rb-pd-rl">
				<div class="it-ac-hd">
				  <div class="sc-hd">
					<h1>My Earning</h1>
					<form class="wrp_date_filter" method="GET" action="{% url 'restaurant:earnings-search' %}">
					  <div class="date_from">
						<b>From:</b>
							<input type="text" id="kronos9-1" class="form-control" name="start_date"/>
					  </div>
					  <div class="date_to">
						<b>To:</b>
							<input type="text" id="kronos9-2" class="form-control" name="end_date"/>
					  </div>
					  <button class="cldr_btn">Search</button>
					</form>
				  </div>
				</div>
				<!-- heading -->
				<div class="ad-fd-fm pd-tb-md">
				  <table id="fd-it-ls-dt" class="display">
					<thead>
					  <tr>
						<th>Order ID</th>
						<th>Date</th>
						<th>Amount</th>
						<th>Payment Type</th>
					  </tr>
					</thead>
					<tbody>
						{% for item in earnings %}
						<tr>
							<td>
								<a href="{% url 'restaurant:order-detail' request.restaurant.id item.order.id %}">#{{ item.order.id_string }}</a>
							</td>
							<td>{{ item.date }}</td>
							<td>
								${{ item.payment_amount }}
							</td>
							<td>
								{{ item.order.get_payment_display }}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				  </table>
				</div>
			  </div>
			</div>
		  </div>
		  <!-- right body part -->
		</div>
	  </div>
{% endblock %}
