{% extends 'restaurant/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'restaurant/css/easySelectStyle.css' %}" />
{% endblock %}

{% block content %}
			<!-- right top menu -->
			<div class="it-ad-hl pd-tb-md">
			  <div class="rb-pd-rl">
				<div class="it-ac-hd">
				  <div class="sc-hd">
					<h1>Web Orders</h1>
				  </div>
				</div>
				<!-- heading -->
				<div class="ad-fd-fm pd-tb-md">
				  <table id="fd-it-ls-dt" class="display">
					<thead>
					  <tr>
						<th>Order ID</th>
						<th>Delivery ID</th>
						<th>Order Item</th>
						<th>Order Date and Time</th>
						<th>Payment Type</th>
						<th>Status</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>
						  <a href="#">1</a>
						</td>
						<td>Null</td>
						<td>Somthing is ordered</td>
						<td>
						  2020/09/13
						  <br />
						  09:00AM
						</td>
						<td>
						  Person Name <br />
						  $110 - Cash on Delivery
						</td>
						<td>
						  <form action="">
							<select class="form-control ord_tbl_opt">
							  <option disabled selected>Select Status</option>
							  <option>Cooking</option>
							  <option>Cooked</option>
							  <option>Dispatched</option>
							</select>
						  </form>
						</td>
					  </tr>
					</tbody>
				  </table>
				</div>
			  </div>
			</div>
		  </div>
		  <!-- right body part -->
		</div>
	  </div>
{% endblock %}
