{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<style>
.form__textarea{
    color: #757575;
    padding: 10px;
    width: 99%;
    height: 71px;
    border: 1px solid #eeeeee;
}
</style>
  <section class="add__resturent">
    <div class="container">
     <div class="row">
       <div class="col-md-12 my-5">
         <div class="resturent__solog">
           <h3><strong>The fast way to </strong>  get food to your customers </h3>
         </div>
       </div>
     </div>

    </div>
    <div class="business__detail">
      <div class="container">
        <div class="row">
          <div class="partnership__form">
            <h4>Partner with us</h4>
            <form method="post">
              {% csrf_token %}
                <div class="restaurant__form__detail">
                  {{ form.name }}
                  {{ form.registration_number }}
                  {{ form.location_text }}
                <!-- <input class="half__width__textform min__size" type="text" name="" placeholder="Apt/suite"> -->
                </div>

                <div class="restaurant__holder__name">
                  {{ form.name_of_owner }}
                  {{ form.contact }}
                  {{ form.email_of_owner }}
                </div>
                
                <div class="restaurant__location__detail">
                  {{ form.message }}
                </div>
                <div class="submit__term__conditons">
                  <p>
                    By clicking "submit", you agree to <a href="#">Krave general term and conditions</a> and acknowledge that you have read the <a href="#">privacy policy</a>.
                  </p>
                </div>
                <button type="submit" class="partners__button">Submit</button>
           </form>
          </div>
          <div class="col-md-6">
            <div class="business_type">
              <div class="business__story">
                <div class="detail__business__info">
                  <div class="business__story__icon">
                  <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                  </div>
                  <div class="business__story__contain">
                  <h5>Do more business</h5>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                  </p>
                  </div>
                </div>
                <div class="detail__business__info">
                  <div class="business__story__icon">
                    <i class="fa fa-car" aria-hidden="true"></i>
                  </div>
                  <div class="business__story__contain">
                  <h5>Deliver Faster</h5>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                  </p>
                  </div>
                </div>
                <div class="detail__business__info">
                  <div class="business__story__icon">
                    <i class="fa fa-life-ring" aria-hidden="true"></i>
                  </div>
                  <div class="business__story__contain">
                  <h5>Partner with professional</h5>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bussiness__success_stories">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="success__stories__head">
            <h3><strong>Success</strong> stories</h3>
          </div>
          <!-- carousel -->
          <div class="success__strories__carousel owl-carousel owl-theme">
              <div class="item">
                <div class="review__and__image">
                    <div class="customers__review__krave my-5">
                      <div class="custumer__saying__position">
                          <div class="customer__body__contain">
                            <span class="review__content"><strong>Here are many variations of passages of Lorem Ipsum available, but the majority have suffered</strong>
                            </span>
                          </div>
                            <div class="reviewer__name__detail">
                              <span>Amrit dhubay, general manager</span>
                              <a href="#">
                                watch resturent profile
                              </a>
                            </div>
                          <div class="review__slider">
                          </div>
                      </div>
                    </div>
                    <div class="reviewer__image">
                      <img src="{% static 'images/custumer.png' %}">
                    </div>
                    </div>
              </div><!--item-->
              <div class="item">
                <div class="review__and__image">
                    <div class="customers__review__krave my-5">
                      <div class="custumer__saying__position">
                          <div class="customer__body__contain">
                            <span class="review__content"><strong>Here are many variations of passages of Lorem Ipsum available, but the majority have suffered</strong>
                            </span>
                          </div>
                          <div class="reviewer__name__detail">
                            <span>Amrit dhubay, general manager</span>
                            <a href="#">
                              watch resturent profile
                            </a>
                          </div>
                          <div class="review__slider">
                          </div>
                      </div>
                    </div>
                    <div class="reviewer__image">
                      <img src="{% static 'images/custumer.png' %}">
                    </div>
                    </div>
              </div><!--item-->
              <div class="item">
                <div class="review__and__image">
                    <div class="customers__review__krave my-5">
                      <div class="custumer__saying__position">
                          <div class="customer__body__contain">
                            <span class="review__content"><strong>Here are many variations of passages of Lorem Ipsum available, but the majority have suffered</strong>
                            </span>
                          </div>
                          <div class="reviewer__name__detail">
                            <span>Amrit dhubay, general manager</span>
                            <a href="#">
                              watch resturent profile
                            </a>
                          </div>
                          <div class="review__slider">
                          </div>
                      </div>
                    </div>
                    <div class="reviewer__image">
                      <img src="{% static 'images/custumer.png' %}">
                    </div>
                    </div>
              </div><!--item-->
          </div>
          <!-- carousel -->
        </div>
      </div>
    </div>
  </section>
{% endblock %}