
<!doctype html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>
  <body>
  <!-- responsive menu -->
      <section class="top__navbar">
        <div class="nav__hldr__resp">
          <span class="close__resp__menu">
            x
          </span>
          <div class="container">
            <div class="row">
              <div class="col-md-4 mt-5">
                <div class="sub__category">
                  <h4>Find Food</h4>
                  <ul>
                    <li><a href="#">Branding</a></li>
                    <li><a href="#">Packaging</a></li>
                    <li><a href="#">Digital</a></li>
                    <li><a href="#">Marketing & Strategy</a></li>
                  </ul>
                  <div class="collapes__catgry">
                    <a href="#">all food</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mt-5">
                <div class="sub__category">
                  <h4>restaurant</h4>
                  <ul>
                    <li><a href="#">Branding</a></li>
                    <li><a href="#">Packaging</a></li>
                    <li><a href="#">Digital</a></li>
                    <li><a href="#">Marketing & Strategy</a></li>
                  </ul>
                  <div class="collapes__catgry">
                    <a href="#">all restaurant</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4 mt-5">
                <div class="sub__category">
                  <h4>category</h4>
                  <ul>
                    <li><a href="#">Branding</a></li>
                    <li><a href="#">Packaging</a></li>
                    <li><a href="#">digital</a></li>
                    <li><a href="#">Marketing & Strategy</a></li>
                  </ul>
                  <div class="collapes__catgry">
                    <a href="#">all category</a>
                  </div>
                </div>
              </div>
              <div class="new__restaurant">
                  <a href="#"><div class="restaurant__content">
                    
                    <h4>starting a new restaurant</h4>
                  <span>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</span>  
                    
                  </div></a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>  
  <!-- responsive menu -->  
  <header>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
                <div class="nav__info">
                 <div class="logo">
                  <a href="#">
                    <img src="images/logo.png" alt="">
                  </a>
                 </div>
                 <div class="header__content">
                    <div class="header__menu">
                      <ul>
                      <li class="menu-item">
                        <a href="#">Find Foods</a>
                        <a href="#">Restaurants</a>
                        <a href="#">Categories</a>
                      </li>
                      </ul>
                    </div>
                    <div class="nav__sec__user_signin">
                      <div class="header__users__sec">
                        <div class="usrs_not__logedin__links">
                        <ul>
                          <li class="login-items">
                            <a class="reg-login" href="#">Login</a>
                            <a class="regt-btn" href="#">Register</a>
                          </li>
                        </ul>
                      </div>
                      </div>
                    </div>
                    <!-- resp menu icons -->
                    <div class="resp__menu__icn">
                      <span class="resp__menu__bar"></span>
                    </div>
                    <!-- resp menu icons -->
                  </div><!-- header content -->
               </div>
          </div>
        </div>
      </div>
  </header>
  <section class="add__resturent">
    <div class="container">
     <div class="row">
       <div class="col-md-12 my-5">
         <div class="resturent__solog">
           <h3><strong>The fast way to </strong>  get food to your customers </h3>
         </div>
       </div>
     </div>

    </div>
    <div class="business__detail">
      <div class="container">
        <div class="row">
          <div class="partnership__form">
            <h4>Partner with us</h4>
            <form>
                <div class="restaurant__form__detail">
                <input class="full__width__textform" type="text" name="" placeholder="Restaurant Name">
                <input class="half__width__textform" type="text" name="" placeholder="Restaurant Address">
                <input class="half__width__textform min__size" type="text" name="" placeholder="Apt/suite">
                </div>

                <div class="restaurant__holder__name">
                <input class="half_ _width__textform min__input__divider__first" type="text" name="" placeholder="First Name">
                <input class="half_ _width__textform min__input__divider__sec" type="text" name="" placeholder="Last Name">
                <input class="full__width__textform" type="text" name="" placeholder="Mobile Number">
                <input class="full__width__textform" type="email" name="" placeholder="Email">
                </div>
                
                <div class="restaurant__location__detail">
                <select class="full__width__textform">
                  <option value="saab">Chitwan</option>
                  <option value="opel">Butwal</option>
                  <option value="audi">Bhaktapur</option>
                </select>
                
                <select class="full__width__textform">
                   <option value="volvo">Mo:Mo</option>
                   <option value="saab">Thakali</option>
                   <option value="opel">Chicken curry</option>
                   <option value="audi">Fried egg</option>
                </select>

                <select class="full__width__textform">
                  <option value="opel">Yes</option>
                  <option value="audi">No</option>
                </select>

                </div>
                <div class="submit__term__conditons">
                  <p>
                    By clicking "submit", you agree to <a href="#">Krave general term and conditions</a> and acknowledge that you have read the <a href="#">privacy policy</a>.
                  </p>
                </div>
                <button class="partners__button">Submit</button>
           </form>
          </div>
          <div class="col-md-6">
            <div class="business_type">
              <div class="business__story">
                <div class="detail__business__info">
                  <div class="business__story__icon">
                  <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                  </div>
                  <div class="business__story__contain">
                  <h5>Do more business</h5>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                  </p>
                  </div>
                </div>
                <div class="detail__business__info">
                  <div class="business__story__icon">
                    <i class="fa fa-car" aria-hidden="true"></i>
                  </div>
                  <div class="business__story__contain">
                  <h5>Deliver Faster</h5>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                  </p>
                  </div>
                </div>
                <div class="detail__business__info">
                  <div class="business__story__icon">
                    <i class="fa fa-life-ring" aria-hidden="true"></i>
                  </div>
                  <div class="business__story__contain">
                  <h5>Partner with professional</h5>
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bussiness__success_stories">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="success__stories__head">
            <h3><strong>Success</strong> stories</h3>
          </div>
          <!-- carousel -->
          <div class="success__strories__carousel owl-carousel owl-theme">
              <div class="item">
                <div class="review__and__image">
                    <div class="customers__review__krave my-5">
                      <div class="custumer__saying__position">
                          <div class="customer__body__contain">
                            <span class="review__content"><strong>Here are many variations of passages of Lorem Ipsum available, but the majority have suffered</strong>
                            </span>
                          </div>
                            <div class="reviewer__name__detail">
                              <span>Amrit dhubay, general manager</span>
                              <a href="#">
                                watch resturent profile
                              </a>
                            </div>
                          <div class="review__slider">
                          </div>
                      </div>
                    </div>
                    <div class="reviewer__image">
                      <img src="images/custumer.png">
                    </div>
                    </div>
              </div><!--item-->
              <div class="item">
                <div class="review__and__image">
                    <div class="customers__review__krave my-5">
                      <div class="custumer__saying__position">
                          <div class="customer__body__contain">
                            <span class="review__content"><strong>Here are many variations of passages of Lorem Ipsum available, but the majority have suffered</strong>
                            </span>
                          </div>
                          <div class="reviewer__name__detail">
                            <span>Amrit dhubay, general manager</span>
                            <a href="#">
                              watch resturent profile
                            </a>
                          </div>
                          <div class="review__slider">
                          </div>
                      </div>
                    </div>
                    <div class="reviewer__image">
                      <img src="images/custumer.png">
                    </div>
                    </div>
              </div><!--item-->
              <div class="item">
                <div class="review__and__image">
                    <div class="customers__review__krave my-5">
                      <div class="custumer__saying__position">
                          <div class="customer__body__contain">
                            <span class="review__content"><strong>Here are many variations of passages of Lorem Ipsum available, but the majority have suffered</strong>
                            </span>
                          </div>
                          <div class="reviewer__name__detail">
                            <span>Amrit dhubay, general manager</span>
                            <a href="#">
                              watch resturent profile
                            </a>
                          </div>
                          <div class="review__slider">
                          </div>
                      </div>
                    </div>
                    <div class="reviewer__image">
                      <img src="images/custumer.png">
                    </div>
                    </div>
              </div><!--item-->
          </div>
          <!-- carousel -->
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6 mt-5">
          <div class="krave__details">
            <div class="krave__footer__logo">
              <img src="images/logo.png">
            </div>
            <div class="app__stores">
              <div class="store">
                <a href="#"><i class="fa fa-apple" aria-hidden="true"></i>
                  <span>Availbale on the <strong>app store</strong></span>
                </a>         
              </div>
              <div class="store">
                <a  class="footer__google" href="#"><i class="fa fa-google" aria-hidden="true"></i>
                  <span class="google_span">Get it on<strong>google play</strong></span>
                </a>         
              </div>
              
              
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-5 about__karve__button">
          <div class="nav__about__krave">
           <h4 class="nav_h4">About krave</h4>
            <ul>
              <li>
                <a href="#">Read our blog</a>
                <a href="#">Buy gift card</a>
                <a href="#">Sing up to deliver</a>
                <a href="#">Add your resturent</a>

              </li>
            </ul>
          </div>
          <div class="nav__about__krave get__help">
           <h4 class="nav_h4">get help</h4>
           <ul>
              <li>
                <a href="#">Read FAQS</a>
                <a href="#">View all cities</a>
                <a href="#">Careers</a>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright__divider"></div>
    <div class="container footer__pad_cont">
    <div class="row">
        <div class="col-md-6 mt-4">
           <div class="footer__copyright">
            <p class="copyright__holder">2019 krave technology inc</p>
        </div>
        </div>
        <div class="col-md-6 mt-4">
          <div class="term__and_cond">
            <ul>
              <li>
                <a href="">Privacy Policy</a>
                <a href="">Terms of Use</a>
                <a href="">Pricing</a>

              </li>
            </ul>
          </div>
        </div>       
    </div>
    </div>
  </footer>
  
  <script src="js/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
  </body>
</html>