{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<style>
.form__textarea{
    color: #757575;
    padding: 10px;
    width: 99%;
    height: 71px;
    border: 1px solid #eeeeee;
}
</style>
<section class="add__resturent">
  <div class="container">
   <div class="row">
     <div class="col-md-12 my-5">
       <div class="resturent__solog">
         <h3><strong>The fast way to </strong>  get food to your customers </h3>
       </div>
     </div>
   </div>
  </div>
  <div class="business__detail">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="business_type">
            <div class="business__story">
              <div class="detail__business__info">
                <div class="business__story__icon">
                <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
                </div>
                <div class="business__story__contain">
                <h5>Do more business</h5>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                </p>
                </div>
              </div>
              <div class="detail__business__info">
                <div class="business__story__icon">
                  <i class="fa fa-car" aria-hidden="true"></i>
                </div>
                <div class="business__story__contain">
                <h5>Deliver Faster</h5>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,
                </p>
                </div>
              </div>
              <div class="detail__business__info">
                <div class="business__story__icon">
                  <i class="fa fa-life-ring" aria-hidden="true"></i>
                </div>
                <div class="business__story__contain">
                <h5>Partner with professional</h5>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour,</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="partnership__form">
            <form method="post">
              {% csrf_token %}
                  <div class="header__fr__partn">
                    <h4>Partner with us</h4>
                  </div>
                  <div class="restaurant__form__detail">
                      <div class="full__width__textform">
                        {{ form.name }}
                      </div>
                      <div class="full__width__textform">
                        {{ form.registration_number }}
                      </div>
                      <div class="name__conter__field">
                        <div class="quater__h__detail">
                          {{ form.street }}
                        </div>
                        <div class="half__field__detail">
                            {{ form.town }}
                        </div>
                      </div>
                      <div class="name__conter__field">
                        <div class="quater__h__detail">
                          {{ form.state }}
                        </div>
                        <div class="half__field__detail">
                            {{ form.zip_code }}
                        </div>
                      </div>
                  </div>
                  <div class="restaurant__holder__name">
                      <div class="name__conter__field">
                        <div class="input__field__half">
                              <!-- <input class="half_ _width__textform min__input__divider__first" type="text" name="" placeholder="First Name"> -->
                              {{ form.name_of_owner }}
                          </div>
                          <div class="input__field__half">
                            <!-- <input class="half_ _width__textform min__input__divider__sec" type="text" name="" placeholder="Last Name"> -->
                            {{ form.email_of_owner }}
                            {% if form.email_of_owner.errors %}
                              <span style="color:red;">{{ form.email_of_owner.errors }}</span>
                            {% endif %}
                          </div>
                      </div>
                      <div class="full__width__textform">
                         <!-- <input class="text__field__f" type="text" placeholder="Mobile Number"> -->
                         {{ form.contact }}
                      </div>
                      <!-- <div class="full__width__textform">
                        <input class="text__field__f" type="email" name="" placeholder="Email">
                      </div> -->
                  </div>
                  <div class="restaurant__deliver__detail">
                      <div class="full__width__textform">
                        {{ form.does_your_restaurant_staff_deliver_order }}
                        {% if form.does_your_restaurant_staff_deliver_order.errors %}
                          <span style="color:red;">{{ form.does_your_restaurant_staff_deliver_order.errors }}</span>
                        {% endif %}
                      </div>
                  </div>
                  <div>
                    {{ form.message }}
                    {% if form.message.errors %}
                      <span style="color:red;">{{ form.message.errors }}</span>
                    {% endif %}
                  </div>
                  <div class="submit__term__conditons">
                  <p>
                    By clicking "submit", you agree to <a href="#">Krave general term and conditions</a> and acknowledge that you have read the <a href="#">privacy policy</a>.
                  </p>
                  </div>
                <button type=submit class="partners__button">Submit</button>
           </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bussiness__success_stories">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="success__stories__head">
            <h3><strong>Success</strong> stories</h3>
          </div>
          <!-- carousel -->
          <div class="success__strories__carousel owl-carousel owl-theme">
              <div class="item">
                <div class="review__and__image">
                    <div class="customers__review__krave my-5">
                      <div class="custumer__saying__position">
                          <div class="customer__body__contain">
                            <span class="review__content"><strong>Here are many variations of passages of Lorem Ipsum available, but the majority have suffered</strong>
                            </span>
                          </div>
                            <div class="reviewer__name__detail">
                              <span>Amrit dhubay, general manager</span>
                              <a href="#">
                                watch resturent profile
                              </a>
                            </div>
                          <div class="review__slider">
                          </div>
                      </div>
                    </div>
                    <div class="reviewer__image">
                      <img src="{% static 'images/custumer.png' %}">
                    </div>
                    </div>
              </div><!--item-->
              <div class="item">
                <div class="review__and__image">
                    <div class="customers__review__krave my-5">
                      <div class="custumer__saying__position">
                          <div class="customer__body__contain">
                            <span class="review__content"><strong>Here are many variations of passages of Lorem Ipsum available, but the majority have suffered</strong>
                            </span>
                          </div>
                          <div class="reviewer__name__detail">
                            <span>Amrit dhubay, general manager</span>
                            <a href="#">
                              watch resturent profile
                            </a>
                          </div>
                          <div class="review__slider">
                          </div>
                      </div>
                    </div>
                    <div class="reviewer__image">
                      <img src="{% static 'images/custumer.png' %}">
                    </div>
                    </div>
              </div><!--item-->
              <div class="item">
                <div class="review__and__image">
                    <div class="customers__review__krave my-5">
                      <div class="custumer__saying__position">
                          <div class="customer__body__contain">
                            <span class="review__content"><strong>Here are many variations of passages of Lorem Ipsum available, but the majority have suffered</strong>
                            </span>
                          </div>
                          <div class="reviewer__name__detail">
                            <span>Amrit dhubay, general manager</span>
                            <a href="#">
                              watch resturent profile
                            </a>
                          </div>
                          <div class="review__slider">
                          </div>
                      </div>
                    </div>
                    <div class="reviewer__image">
                      <img src="{% static 'images/custumer.png' %}">
                    </div>
                    </div>
              </div><!--item-->
          </div>
          <!-- carousel -->
        </div>
      </div>
    </div>
  </section>
  {% include 'core/footer.html' %}
{% endblock %}