
{% extends 'core/base.html' %}
{% load static %}
{% load filters %}
{% block content %}
{% if lists %}
  <section class="checkout">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="checkout__detail__info">
            <div class="create__acount_checkout">
              <h4>Checkout</h4>
              {% if not request.user.is_authenticated %}
                <div class="signin__checkout">
                  <span class="signin__title">
                    <strong> sign in or create account</strong>
                    already use krave? sign with your account
                  </span>
                </div>
                <div class="create__accoutn__button">
                  <button class="button__new_account"><a href="{% url 'core:register' %}">create account</a></button>
                  <button class="button_sign_in"><a href="{% url 'login' %}">sign in</a></button>
                </div>
              {% endif %}
              <div  class="delivery__detail">
                <div class="delivery__address">
                   <h5>delivery detail</h5>
                    <span>san franciso</span>
                </div>

                <div class="delivery__time">
                    {{ lists.0.restaurant.delivery_time }} min
                  <span>Estimated arrival</span>
                </div>
                <div class="payment_chekout">
                  <h5>payment</h5>
                  <span>Sign in or create an account to see payment options.</span>
                </div>
              </div>
            </div>
            <div class="adding_items">
              <div class="items__container">
                <span><strong>items ({{ lists.count }})</strong>form {{ lists.0.restaurant.name }}</span>
                <div class="add_item_categ">
                     <a href="{% url 'core:restaurant-detail' lists.0.restaurant.name|space_to_underscore %}">add items</a>
                </div>
              </div>
            </div>
            {% for item in lists %}
            <div class="added__item_list">
              <div class="list__item__head">
                <div class="item__title">{{ item.food.name }} {% if item.style %}- {{ item.style.name_of_style }}{% endif %}</div>
                <div class="checkout__order__list">
                  <p>
                      <!-- <span id="minus1" class="qty__btn food__qty__dec minus">
                        <img src="{% static 'images/food__pop__desc.png' %}" alt="">
                      </span> -->

                      <input disabled id="qty1" type="text" value="{{ item.number_of_food }}" class="qty" />
                      <!-- <span id="add1" class="qty__btn food__qty__inc add">
                        <img src="{% static 'images/food__pop__inc.png' %}" alt="">
                      </span> -->
                  </p>
                </div>
                <div class="added__item_price">${{ item.get_total }}</div>
                <form method="POST" action="{% url 'core:cart-delete' item.id %}">
                  {% csrf_token %}
                  <button class="cart__delete__btn"><i class="fa fa-trash"></i></button>
                </form>
             </div>

             <div class="selected__items">
                  {% if item.style %}
                  <span>${{ item.style.cost }}</span>
                  {% else %}
                  <span>${{ item.food.new_price }}</span>
                  {% endif %}
                  {% for extra in item.extras.all %}
                    <span>{{ extra.name_of_extra }} - ${{ extra.cost }}</span>
                  {% endfor %}
                  <!-- <div class="edit__selected__items">
                    <a href="#">Edit</a>
                  </div> -->
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="payment__summary">
            <h5>Order Summary</h5>
            <div class="summary__detail__info">
              <div class="icon__info">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                <span class="icon__bucket">{{ lists.count }} items from {{ lists.0.restaurant.name }}</span>
              </div>
              <div class="icon__info">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span class="icon__timing">Arriving in {{ total_time }} mins</span>
              </div>
              <div class="icon__info">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span class="icon__location"> San Francisco</span>
              </div>
              </div>
            <div class="grand__total">
              <div class="subtotal">
                <span>Subtotal</span>
                <span id="total_price" data-id="{{ lists|get_total_price }}">${{ lists|get_total_price }}</span>
              </div>
              <div class="subtotal">
                <span>Delivery Fee</span>
                <span id="delivery_cost" data-id="{{ lists.0.restaurant.delivery_charge }}">${{ lists.0.restaurant.delivery_charge }}</span>
              </div>
              <div class="total__grand__sum">
                <span>Total</span>
                <span id="total"></span>
              </div>
              <input id="total_price_order" type="text" value="" name="total_price_order" hidden />
              {% if request.user.is_authenticated %}
              <div class="grand__total__button">
                <button id="place_order">Place Order</button>
              </div>
              {% else %}
              <p>You need to be logged in to place the order.</p>
              {% endif %}
            </div>


          </div>

        </div>

      </div>
    </div>
  </section>

  {% else %}
  <section class="checkout">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="checkout__detail__info">
            <div class="create__acount_checkout">
              <h4>Please add items to your cart to place orders.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  <div class="place__order" id="order__place">
    <div class="delivery__details">
      <div class="pop__up__order__placed___close">
        <span><i class="fa fa-times" aria-hidden="true"></i></span>
      </div>
      <hr>
        <form action="{% url 'core:place-order' %}" method="POST">
          {% csrf_token %}
          <h5>DELIVERY ADDRESS</h5>
          <div class="form-row">
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" name="address1" placeholder="Address 1" required>
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" name="address2" placeholder="Address 2" required>
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" name="city" placeholder="City" required>
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" name="state" placeholder="State" required>
              </div>
              <div class="col-md-6 mb-3">
                <input type="text" class="form-control" name="zip" placeholder="Zip Code" required>
              </div>
              <div class="col-md-12 mb-3">
                <textarea class="form-control" name="comment" placeholder="Leave a note..." rows="3"></textarea>
              </div>
          </div>
           <h5 class="head__payment">PAYMENT OPTIONS</h5>
          <div class="payment__methods">

            <div class="card paypal__mtd">
              <label for="paypal"><img src="{% static 'images/Paypal.png' %}" alt="Paypal" title="Paypal"></label>
              <span><input type="radio" name="payment" id="paypal" value="paypal" required>pay with card</span>
            </div>

            <div class="card master__mtd">
              <label for="cod"><img style="width:64px; height:64px;" src="{% static 'images/cod.png' %}" alt="cod" title="cod"></label>
              <span><input type="radio" name="payment" id="cod" value="cod" required>pay on delivery</span>
            </div>
          </div>
            <div class="col-md-6 mx-auto mb-3 mt-5">
              <button type="submit" id="order_submit" class="delivery__btn">Submit</button>
          </div>
        </form>
    </div>
</div>
{% include 'core/footer.html' %}
  {% endblock %}
  {% block scripts %}
  <script>
    $(document).ready(function(){
      var food_total = $("#total_price").attr("data-id");
      var delivery_cost = $("#delivery_cost").attr("data-id");
      var total = parseFloat(food_total) + parseFloat(delivery_cost);
      $("#total").html("$" + total);
      $("#total_price_order").val(total);

      $(".payment__total").html("$" + total);
    });

    // $("#place_order").on('click', function(){
    //   $("#order_form").submit();
    // });
  </script>
  {% endblock %}
