
{% extends 'core/base.html' %}
{% load static %}
{% load filters %}
{% block content %}
  <section class="checkout">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="checkout__detail__info">
            <div class="create__acount_checkout"> 
              <h4>Checkout</h4>
              {% if not request.user.is_authenticated %}
                <div class="signin__checkout">
                  <span class="signin__title">
                    <strong> sign in or create account</strong> 
                    already use krave? sign with your account
                  </span>
                </div>
                <div class="create__accoutn__button">
                  <button class="button__new_account" href="{% url 'core:register' %}">create account</button>
                  <button class="button_sign_in" href="{% url 'login' %}">sign in</button>
                </div>
              {% endif %}
              <div  class="delivery__detail">
                <div class="delivery__address">
                   <h5>delivery detail</h5>
                    <span>san franciso</span>       
                </div>
                
                <div class="delivery__time">
                    {{ cart.0.restaurant.delivery_time }} min
                  <span>Estimated arrival</span>      
                </div>
                <div class="payment_chekout">
                  <h5>payment</h5>
                  <span>Sign in or create an account to see payment options.</span>
                </div>
              </div>
            </div>
            <div class="adding_items">
              <div class="items__container">
                <span><strong>items (1)</strong>form carl's jr. (new plaza)</span>
                <div class="add_item_categ">
                     <a href="{% url 'core:restaurant-detail' cart.0.restaurant.name|space_to_underscore %}">add items</a>
                </div>
              </div>
            </div>
            <div class="added__item_list">
              <div class="list__item__head">
                <div class="item__title">Super star with cheese</div>
                <div class="checkout__order__list">
                  <p>
                      <span id="minus1" class="qty__btn food__qty__dec minus">
                        <img src="images/food__pop__desc.png" alt="">
                      </span>

                      <input id="qty1" type="text" value="1" class="qty" />
                      <span id="add1" class="qty__btn food__qty__inc add">
                        <img src="images/food__pop__inc.png" alt="">
                      </span>
                  </p>
                </div>
                <div class="added__item_price">$25</div>
             </div>
             <div class="selected__items">
                  <span>$15.35</span>
                  <span>add extra patty</span>
                  <span>small american cheese</span>
                  <span> add extra veges </span>
                  <span>add buff</span>
                  <span>add butter(3.4)</span>
                  <span>add egg</span>
                  <span>extra cheese</span>
                  <span>add gravy(0.5)</span>
                  <span>upgrade to premium bun</span>
                  <span>add utensil/straw/lid etc.</span>
                  <span>if applicable</span>
                  <span>yes</span>
                  <div class="edit__selected__items">
                    <a href="#">Edit</a>
                  </div>
                </div>
            </div>
            <form class="comment__box">
              <textarea rows="3" cols="80" name="comment" form="" placeholder="Leave a note for the resturent..."></textarea>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="payment__summary">
            <h5>Order Summary</h5>
            <div class="summary__detail__info">
              <div class="icon__info">
                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                <span class="icon__bucket">2 items from carl's Jr.(1 Hillidie plaza )</span>
              </div>
              <div class="icon__info">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                <span class="icon__timing">Arriving in 20-30 min</span>
              </div>
              <div class="icon__info">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span class="icon__location"> San Francisco</span>
              </div>
              </div>
            <div class="grand__total">
              <div class="subtotal">
                <span>Subtotal</span>
                <span>$27</span>
              </div>
              <div class="subtotal">
                <span>Tax</span>
                <span>$23</span>
              </div>
              <div class="subtotal">
                <span>Delivery Fee</span>
                <span>$27</span>
              </div>
              <div class="total__grand__sum">
                <span>Total</span>
                <span>$100</span>
              </div>
              <div class="grand__total__button">
                <button>Place Order</button>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </div>
  </section>
  {% include 'core/footer.html' %}
  {% endblock %}