
<!doctype html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="css/simplemenu.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>
  	
    <section class="navbar__sidebar">
      <div class="sidenav">
        <div class="sidbar__head">
         <img src="images/logo.png" alt=""> 
        </div> 
        <div class="sidebar__nav">
          <a href="#">
          <i class="fa fa-pie-chart" aria-hidden="true"></i>
          <span>Analytics</span>
          </a>
          <a href="#">
          <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
          <span>Payments</span>
          </a>
          <a href="#">
            <i class="fa fa-cutlery" aria-hidden="true"></i>
            <span>Menu</span>
          </a>
          <a href="#">
          <i class="fa fa-users" aria-hidden="true"></i>
           <span>Users</span>
          </a>
          <a href="#">
          <i class="fa fa-folder-open" aria-hidden="true"></i>
          <span>Documents</span>
          </a>
          <a href="#">
          <i class="fa fa-question-circle" aria-hidden="true"></i>
          <span>Help</span>
          </a>
        </div> 
     </div>
     <div class="container">
       <div class="row">
        <div class="col-md-12">
          <div class="dashboard__nav">
           <a href="#">Menus</a>
            <a href="#">Categories</a>
           <a href="#">Items</a>
         </div>
        </div>
         
       </div>
     </div>
    </section>
    
	<script src="js/jquery__.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>
   <script src="js/simplemenu.js"></script>

  </body>
</html>