{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<style>
  .is_disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }
</style>
<section class="category__item__details">
    <div class="container">
      <div class="category_main_head mt-4">
          <span>All Foods</span>
      </div>
      <div class="row pb-4">
        <div class="col-lg-6 col-sm-6">
          <form class="search-box" method="get">
            <input class="search-input" type="text" placeholder="Search restaurant here.." name="name">

            <button type="submit" class="search-smt"><i class="fa fa-check" aria-hidden="true"></i>ok</button>
          </form>
        </div>
      </div>
      <div class="row">
        {% for item in foods %}
        <div class="col-md-6 mb-5">
          <div class="categ__info" data-id="{{ item.id }}">
            <div class="categ__head">
              <span class="food_item__name">{{ item.name }}</span>
              <p class="food__detail__contain">{{ item.description|truncatechars:120 }}</p>
              <span class="food__item__price">${{ item.new_price }}</span>
            </div>

            <div class="food__item_image">
              {% if item.image %}
      					<img src="{{ item.image.url }}">
      				{% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
  </section>
  {% endblock %}
  {% block popup %}
  <div id="food__decspt__handler">
    <div id="food__descpt__popup" class="popup__food__info">
        <div class="popupcontent__holder">
          <div class="popups__top__banner">
              <img src="" id="food_image">
              <span class="popups__close__button"><i class="fa fa-times" aria-hidden="true"></i></span>
          </div>
          <div class="food__detail__description">
              <h3></h3>
              <p class="food__content__popup"></p>
          </div>
          <form method="post" action="{% url 'core:add-to-order' %}" id="food__detail">
            {% csrf_token %}
          <div class="select__option__food">
            <div class="top__select__intro" id="parent_style" style="display:none;">
                <span class="option__head">Select Style</span>
            </div>
            <div class="popup__content__wrapper" id="styles">

            </div>

            <div class="top__select__intro" id="parent_extra" style="display:none;">
                <span class="option__head">Select Extra</span>
            </div>
            <div class="popup__content__wrapper" id="extras">

            </div>
            <!-- <div class="popup__content__wrapper">
              <div class="caution__about__food">
                <p class="caution__contion">
                  <strong>WARNING:</strong> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                </p>
              </div>
            </div> -->
            <div class="popup__divider__line"></div>
            <div class="add__order__popup">
              <div class="pop__up__add__sub">
                <p>
                  <span id="minus1" class="qty__btn food__qty__dec minus">
                  <img src="{% static 'images/food__pop__desc.png' %}" alt="">
                  </span>

                  <input id="qty1" type="text" value="1" name="qty" class="qty" />
                  <span id="add1" class="qty__btn food__qty__inc add" >
                  <img src="{% static 'images/food__pop__inc.png' %}" alt="">
                  </span>
                </p>
              </div>
              <input type="text" name="food_identifier" hidden id="food__id" />
              <div class="add__order__details">
                <button class="add_order__btn" id="id_add_cart">
                  <span class="order__btn__popup">Add to Order</span>
                  <!-- <span class="order__btn__price"></span> -->
                </button>
              </div>
            </div>
          </div>
          </form>
        </div>
    </div>
    </div>
    {% include 'core/footer.html' %}
    {% endblock %}


{% block scripts %}
<script>
    $(document).ready(function(){
        $(".categ__info").click(function(){
            var food_id = $(this).attr('data-id');
            $.ajax({
                url: "{% url 'core:get-food-detail' %}",
                data: {
                    'food_id': food_id,
                },
                dataType: 'json',
                success: function(result){
                    console.log(result);
                    var data = result;

                    food_data = data.food;
                    food_data = jQuery.parseJSON(food_data);


                    // console.log(food_data.food[0].fields);
                    $("#food__decspt__handler").css({'display': 'flex', 'position': 'fixed' });

                    $(".food__detail__description h3").html(food_data[0].fields.name);

                    var id_of_food = food_data[0].pk;
                    $("#food__id").val(id_of_food);


                    var desc = food_data[0].fields.description;
                    $(".food__detail__description p").html(desc);

                    var price = "$" + food_data[0].fields.new_price;
                    $(".order__btn__price").html(price);

                    // var base_url = "http://localhost:8000/";
                    var base_url = "https://krave.yantrashala.com/";
                    var src1 = base_url + 'media/' + food_data[0].fields.image;
                    $("#food_image").attr("src", src1);

                    $("#styles").html('');
        					  var styles = [];
        					  styles = data.styles;
        					  styles = jQuery.parseJSON(styles);
        					  styles.forEach(function(style){
        							var style_content = '<div class="radio__box__wrapper space__between"><div class="radio__box__contain"><label><input required type="radio" value="'+ style.fields.name_of_style.split(' ').join('_') +'" name="radio3" class="mgr mgr-success mgr-lg"/><span> ' + style.fields.name_of_style + '</span></label></div><div class="radio__box__price"><span class="radio__price__info">$' + style.fields.cost + '</span></div></div>'
        							$('#styles').append(style_content);
                      $('#parent_style').show();
        					  });

        						$("#extras").html('');
        					  var extras = [];
        					  extras = data.extras;
        					  extras = jQuery.parseJSON(extras);

        					  extras.forEach(function(extra){
        						  var extra_content = '<div class="checkbox__wrapper space__between"><div class="checkbox__content"><label><input name="extras" type="checkbox" class="mgc mgc-success mgc-lg" value="' + extra.fields.name_of_extra.split(' ').join('_') + '"/><span> ' + extra.fields.name_of_extra + '</span></label></div><div class="check__item__price"><span class="radio__price__info">$'+ extra.fields.cost + '</span></div></div>';
        							$('#extras').append(extra_content);
                      $('#parent_extra').show();
        					  });
                }
            });

        });

    });
    $("#food__detail").on('submit', function(e){
      if (jQuery('input[type=radio][name=radio3]').length){
        if ($("input:radio").is(':checked')){
            if ($('#qty1').val() <= 0){
              alert('Less than 1 item cannot be ordered.');
              e.preventDefault();
            }
            else{
              $("#food__detail").submit();
            }
        }
        else{
            alert('Please select one of the customizations.');
            e.preventDefault();
        }
      }
    });
</script>
{% endblock %}
