{% extends 'core/base.html' %}
{% load static %}
{% block content %}
  	<section class="landing">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-5 col-sm-8 mx-auto">
  					<div class="landing-top-info">
  					  <h1>Restaurant you love, deliver to you</h1>
              <div class="landing__para mb-5">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad possimus error incidunt nostrum...</p>
              </div>
  					</div>
					  <form class="search-box" action="{% url 'core:search' %}" method="post">
						{% csrf_token %}
  						<input class="search-input" type="text" name="food_name" placeholder="Search your food here..">
  						
  						<button class="search-smt" type="submit"><i class="fa fa-check" aria-hidden="true"></i>ok</button>
  					</form>

  				</div>
  			</div>
  			<div class="row">
  				<div class="col-md-4 mx-auto food-item-mrg">
  					<!-- <div class="food-items">
    					<div class="item one ">
    						<a href="#">
    							<img src="images/burger.png" class="img-fluid">
  	  						<span class="food__title">
  	  							Dinner
  	  						</span>
    						</a>
    					</div>
    					<div class="item two">
    						<a href="#">
    							<img src="images/burger.png" class="img-fluid">
  	  						<span class="food__title">
  	  							Dinner
  	  						</span>
    						</a>
    					</div>
    					<div class="item three">
    						<a href="#">
    							<img src="images/burger.png" class="img-fluid">
  	  						<span class="food__title">
  	  							Dinner
  	  						</span>
    						</a>
    					</div>
    					<div class="item four">
    						<a href="#">
    							<img src="images/burger.png" class="img-fluid">
  	  						<span class="food__title">
  	  							Dinner
  	  						</span>
    						</a>
    					</div>
  				  </div> -->
    				<div class="social__icon">
    					<span class="icon__detail">Continue with:</span>
    					<a href="#" class="icon_fab"><i class="fa fa-facebook-official" aria-hidden="true"></i>facebook</a>
    					<a href="#" class="icon_google"><i class="fa fa-google" aria-hidden="true"></i>google</a>
    				</div>
  				</div>

  			</div>
  		</div>
    </section>
    {% endblock %}