{% extends 'core/base.html' %}
{% block content %}
  <section class="gery__bg">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="hding">
            Let's <strong>enter now</strong>
          </div>
          <div class="uniform">
            <form method="post" action="/login/">
              {% csrf_token %}
            <div class="formlist">
              <input class="form-input" type="text" name="username" id="id_username" placeholder="Email Address/Username">
              {% if email_error %}
                <div style="color:red; font-size: 0.875rem;">
                    {{ email_error }}
                </div>
                {% elif not valid_email %}
                    <div style="color:red; font-size: 0.875rem;">
                        User With The Email/Username Doesnot Exist.
                    </div>
              {% endif %}
            </div>

            <div class="formlist">
              <input class="form-input" type="password" name="password" placeholder="Password">
              {% if password_error %}
                <div id="passwordHelp" style="color:red; font-size: 0.875rem;">
                    Incorrect Password ! Please Check Your Password.
                </div>
              {% endif %}
            </div>
            <p class="reverse-pass"><strong>forget password?</strong> <a href="{% url 'password_reset' %}"> request password</a></p>
            <div class="formlist">
              <button type="submit" class="form-submit">Login Now</button>
            </div>
            <div class="social__icon">
              <span class="icon__detail">Continue with:</span>
              <a href="#" class="icon_fab"><i class="fa fa-facebook-official" aria-hidden="true"></i>Facebook</a>
              <a href="{% url 'social:begin' 'google-oauth2' %}" class="icon_google"><i class="fa fa-google" aria-hidden="true"></i>Google</a>
            </div>
            <input type="hidden" name="next" value="{{ next }}">
            </form>
          </div>
          <div class="login-tit">
            <span class="login-detail"> new to kravee?  <a class="login-btn" href="{% url 'core:register' %}">create an account!</a></span>
          </div>
          <div class="login-tit">
            <span class="login-detail"> Register restaurant in krave?  <a class="login-btn" href="{% url 'core:restaurant-register' %}">register here!</a></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
    if('{{ login_username }}'){
      $("#id_username").val('{{ login_username }}');
    }
  });
</script>
{% endblock %}
