{% extends 'core/base.html' %}
{% block content %}
  <section class="gery__bg">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="hding">
            Let's <strong>enter now</strong>
          </div>
          <div class="uniform">
            <form method="post" action="/login/">
              {% csrf_token %}
            <div class="formlist">
              <input class="form-input" type="text" name="username" placeholder="Email Address/Username">
              {% if email_error %}
                <div style="color:red; font-size: 0.875rem;">
                    {{ email_error }}
                </div>
                {% elif not valid_email %}
                    <div style="color:red; font-size: 0.875rem;">
                        User With The Email/Username Doesnot Exist.
                    </div>
              {% endif %}
            </div>
            
            <div class="formlist">
              <input class="form-input" type="text" name="password" placeholder="password">
              {% if password_error %}
                <div id="passwordHelp" style="color:red; font-size0.875rem;">
                    Incorrect Password ! Please Check Your Password.
                </div>
              {% endif %}
            </div>
            <p class="reverse-pass"><strong>forget password?</strong> <a href="#"> request password</a></p>
            <div class="formlist">
              <button type="submit" class="form-submit">Login Now</button>
            </div>
            </form>
          </div>
          <div class="login-tit">
            <span class="login-detail"> new to kravee?  <a class="login-btn" href="{% url 'core:register' %}">create an account!</a></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}