{% extends 'core/base.html' %}
{% block content %}
<section class="gery__bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="hding">
                    <strong>Password Reset Success</strong>
                </div>
                <p>
                    Your password has been set. You may go ahead and <a href="{% url 'login' %}">Login</a> now.
                </p>
            </div>
        </div>
    </div>
</section>
    <div class="content-section">
        

    </div>
{% endblock %}