{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<section class="gery__bg">
    <div class="container">
        <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="hding">
            <strong>Password Reset</strong>
            </div>
            <div class="uniform">
            <form action="." method="post" class="checkout" accept-charset="utf-8">
                {% csrf_token %}
                <div class="formlist">
                    <input class="form-input" type="text" id="first-name" name="email" placeholder="Your email address here...">
                </div>
                <div class="formlist">
                    <button type="submit" class="form-submit">Reset</button>
                </div>
            </form>
            </div>
        </div>
        </div>
    </div>
</section>
{% endblock %}