{% extends 'core/base.html' %}
{% load static %}
{% block content %}
  	<section class="gery__bg">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-4 mx-auto">
  					<div class="hding">
  						Let's get <strong>Started</strong>
  					</div>
  					<div class="uniform">
  						<form>
  						<div class="formlist">
  							<input class="form-input" type="text" placeholder="First Name">
  						</div>
  						<div class="formlist">
  							<input class="form-input" type="text" placeholder="Last Name">
  						</div>
  						<div class="formlist">
  							<input class="form-input" type="text" placeholder="Email">
  						</div>
  						<div class="formlist">
  							<input class="form-input" type="text" placeholder="Zip Code">
  						</div>
  						<div class="formlist">
  							<input class="form-input"  type="text" placeholder="Phone Number">
  						</div>
  						<div class="formlist">
  							<button class="form-submit">Register Now</button>
  						</div>
  						</form>
  					</div>
            <div class="login-tit">
              <span class="login-detail">already have and account? <a class="login-btn" href="#">login now!</a></span>
            </div>
  				</div>
  			</div>
  		</div>
    </section>
  {% endblock %}