{% extends 'core/base.html' %}
{% load static %}
{% load filters %}
{% block content %}

	<section class="res_ifo_d" style="margin-top: 5rem; margin-bottom: 5rem">
      <div class="container">
        <div class="row">
          <div class="wrp_res_d">
            {% for item in restaurants %}
            <div class="res_d_itm">
              <div class="res_img__thub">
                {% if not item.images.last %}
                <img src="{% static 'images/rest.jpg' %}" alt="Restaurant Image" />
                {% else %}
                <img src="{{ item.images.last.image.url }}">
                {% endif %}
              </div>
              <div class="res_det_ifo">
                <a class="res_hed_nm" href="{% url 'core:restaurant-detail' item.name|space_to_underscore %}">
                  <h4>{{ item.name }}</h4></a>
                <div class="ad_ifo_res">
                  <ul class="det_res_c">
                    <li>
                      <i class="fa fa-map-marker" aria-hidden="true"></i>{{ item.street }}, {{ item.town }},
                      {{ item.state }} - {{ item.zip_code }}
                    </li>
                    <li>
                      <i class="fa fa-cutlery" aria-hidden="true"></i>
                      {% for cuisine in item.cuisines.cuisine.all %}
  	    				  {{ cuisine.name }},
      				  {% endfor %}
                    </li>
                    <li>
                      <i class="fa fa-envelope-o" aria-hidden="true"></i>{{ item.email }}
                    </li>
                    <li>
                      <i class="fa fa-phone" aria-hidden="true"></i>{{ item.contact }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  {% include 'core/footer.html' %}
  {% endblock %}
