{% extends 'core/base.html' %}
{% load static %}
{% load filters %}
{% block content %}
   <section class="avail__restaurant__list">
	  	<div class="container">
	  			<div class="restaurant__head__section">
	  				<h5>Available Restaurants</h5>
	  			</div>
	  		<div class="row pb-4">
		          <div class="col-lg-6 col-sm-6">
		            <form class="search-box" method="get">
		              <input class="search-input" type="text" placeholder="Search restaurant here.." name="name">
		              
		              <button type="submit" class="search-smt"><i class="fa fa-check" aria-hidden="true"></i>ok</button>
		            </form>
		    </div>
	        </div>
	  		<div class="row">
          {% for item in restaurants %}
	  			<div class="col-md-6 mb-4">
	  				<div class="content__available__restaurant">
	  					<div class="restaurant__thumb__img">
	  						<a href="{% url 'core:restaurant-detail' item.name|space_to_underscore %}">
                  {% if item.logo %}
                    <img src="{{ item.logo.url }}" alt="">
                  {% else %}
                    <img src="{% static 'images/rest_logo.jpg' %}" alt="">
                  {% endif %}
	  						</a>
	  					</div>
	  					<div class="detail__descpt__restaurant">
	  						<a href="{% url 'core:restaurant-detail' item.name|space_to_underscore %}">
	  						<h4>{{ item.name }}</h4>
	  						</a>
	  						<div class="restaurent__location">
	  							<div class="icon__restaurant__locat">
	  								<i class="fa fa-map-marker" aria-hidden="true"></i>
	  							</div>
	  							<span>{{ item.location_text }}</span>
	  						</div>
	  						<div class="restaut__serve__food">
	  							<div class="food__serve__icon__restaut">
	  								<i class="fa fa-stumbleupon-circle" aria-hidden="true"></i>
	  							</div>
	  							<span> Mullti-Cuisine</span>
	  						</div>
	  						<div class="restaut__serve__food">
	  							<div class="food__serve__icon__restaut">
	  								<i class="fa fa-envelope-o" aria-hidden="true"></i>
	  							</div>
	  							<span> {{ item.email }}</span>
	  						</div>
	  					</div>
	  				</div>
          </div>
          {% endfor %}
	  		</div>
	  	</div>
  </section>
  {% endblock %}
  <!-- <div id="more__inf__hldr">
    <div class="google__location__open__hrs" id="more__info__detail">
        <div class="popupcontent__holder">
          <div class="google__map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.827643870256!2d-122.41009648483995!3d37.79407881882193!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808580c11a807e99%3A0x293305d29003ba3!2zQ2xheSBTdCwgU2FuIEZyYW5jaXNjbywgQ0EsIOCkuOCkguCkr-ClgeCkleCljeCkpCDgpLDgpL7gpJzgpY3gpK8g4KSF4KSu4KWH4KSw4KS_4KSV4KS-!5e0!3m2!1sne!2snp!4v1574324799165!5m2!1sne!2snp" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <span class="map__close__btn"><i class="fa fa-times" aria-hidden="true"></i></span>
          </div>
          <div class="location__hours__opening__days">
                <div class="map__location">
                  <h5>Location and hours</h5>
                  <span class="location__cordinates">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <a href="#">752 clay st, San Franciso,CA 74623</a>
                  </span>        
                </div>

                <div class="opening__day__wrapper">
                  <div class="opening__days">
                    <div class="days"><i class="fa fa-clock-o" aria-hidden="true"></i><span>Sunday - Monday</span></div>
                    <div class="opening__hours">
                      <span>11:00 AM - 3:00 PM</span>
                      <span>Lunch</span>
                    </div>
                  </div>
                  <div class="opening__days">
                    <div class="days"><span>Tuesday</span></div>
                    <div class="opening__hours">
                      <span>11:00 AM - 3:00 PM</span>
                      <span>Lunch</span>

                    </div>
                  </div>
                  <div class="opening__days">
                    <div class="days"><span>Wednesday - Thursday</span></div>
                    <div class="opening__hours">
                      <span>11:00 AM - 3:00 PM</span>
                      <span>Lunch</span>

                    </div>
                    <div class="opening__hours">
                      <span>11:00 AM - 3:00 PM</span>
                      <span>Lunch</span>

                    </div>
                  </div>
                  <div class="opening__days">
                    <div class="days"><span>Friday - Saturday</span></div>
                    <div class="opening__hours">
                      <span>11:00 AM - 3:00 PM</span>
                      <span>Lunch</span>
                    </div>
                    <div class="opening__hours">
                      <span>11:00 AM - 3:00 PM</span>
                      <span>Lunch</span>
                    </div>
                  </div>
                </div>
          </div>
        </div>
    </div>
  </div><!-- more info popup -->
  <div id="food__decspt__handler">
   <div id="food__descpt__popup" class="popup__food__info">
      <div class="popupcontent__holder">
        <div class="popups__top__banner">
            <img src="images/pop__up_food.jpg">
            <span class="popups__close__button"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <div class="food__detail__description">
            <h3>Super star with cheese</h3>
            <span>700cal</span>
            <p class="food__content__popup">when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
        <div class="select__option__food">
            <div class="top__select__intro">
                <span class="option__head">Select option</span>
                <span>Required</span>
            </div>
            <div class="popup__content__wrapper">
            	<div class="checkbox__wrapper space__between">              
		                <div class="checkbox__content">
			                <label>
			                <input type="checkbox" class="mgc mgc-success mgc-lg" /> 
			                	<span>Scrambled it to make a type specimen book</span>

			                </label>
						</div>
						<div class="check__item__price">
							<span class="radio__price__info">$40</span>
						</div>
                 </div>
                 <div class="radio__box__wrapper space__between">
	                <div class="radio__box__contain">
						<label>
		                	<input type="radio" name="radio3" class="mgr mgr-success mgr-lg"/>
		                	<span> Scrambled</span>
		                	<span class="qnty__cals">300 - 500 cal</span>

	                	</label>	               
	                 </div>
	                 <div class="radio__box__price">
	                 	<span class="radio__price__info">$50</span>
	                 </div>
                 </div>
                 <div class="radio__box__wrapper space__between">
	                <div class="radio__box__contain">
						<label>
		                	<input type="radio" name="radio3" class="mgr mgr-success mgr-lg"/>
		                	<span> Scrambled</span>
		                	<span class="qnty__cals"> 200 - 300 cals</span>

	                	</label>	               
	                 </div>
	                 <div class="radio__box__price">
	                 	<span class="radio__price__info">$50</span>
	                 </div>
                 </div>              
                
            </div>
            <div class="popup__content__wrapper">
                <div class="customize__item__popup">
                    <a href="#" class="customize__content">Customize this item</a>
                    <a href="#" class="customize__icon"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                </div>
                <div class="caution__about__food">
                    <p class="caution__contion">
                        <strong>WARNING:</strong> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                    </p>
                </div>
            </div>
            <div class="popup__divider__line"></div>
            <div class="add__order__popup">
                <div class="pop__up__add__sub">    
                    <p>
                      <span id="minus1" class="qty__btn food__qty__dec minus">
                        <img src="images/food__pop__desc.png" alt="">
                      </span>

                      <input id="qty1" type="text" value="1" class="qty" />
                      <span id="add1" class="qty__btn food__qty__inc add">
                        <img src="images/food__pop__inc.png" alt="">
                      </span>
                    </p>
                </div>
                <div class="add__order__details">
                    <a class="add_order__btn" href="#">
                        <span class="order__btn__popup">Add 1 to Order</span>
                        <span>$200</span>
                    </a>
                </div>
            </div>
        </div>
      </div>
   </div> 
  </div><!-- food info popup -->
   
  

  <script src="js/jquery__.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/main.js"></script>

  </body>

</html> -->
