{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<style>
  #map{
    height: 300px;
    width: 100%;
  }

  .map__close__btn{
    z-index: 9999;
  }


</style>
    <section class="top__banner">
      <div class="container ">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <div class="resturent_details">
                  <div class="resturent__logo"> 
                    <img src="{{ restaurant.logo.url }}">
                  </div>
                  <div class="rest_info_wrapper">
                  <div class="restaurants_name__item">
                  <h4>{{ restaurant.name }}</h4>
                   <div class="restu_nav">
                      <ul>
                        <li>
                          {% for item in restaurant.cuisines.all %}
                            <a href="#">{{ item.name }}</a>
                          {% endfor %}
                        </li>
                      </ul> 
                    </div>
                  </div>
                  <div class="res_info__bottom">
                    <div class="review__delivery__address">
                        <div class="rest_rating">
                          <span class="rating__number">4.0</span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star"></span>
                          <span class="review__count_time">reviews(200+)</span>

                        </div>
                        <div class="details__review___and__address">
                            <span class="resturent_address">{{ restaurant.location_text }}</span>                        
                        </div>
                    </div>
                    <div class="delivery__info__fees">
                     <span class="food_delivery_fee btns__fees">${{ restaurant.delivery_charge }} delivery fee</span>
                      <span class="food_delivery_time btns__fees">20-30 min</span>
                      <button id="more__info" class="resturent_more_info btns__fees">more info</button> 
                    </div>
                  </div>
                  </div>
            </div>           
          </div>
          <div class="col-lg-4">
            <div class="resturent__opening__time">
              <h2>Opens at {{ restaurant.opening_time }}</h2>
            </div>
          </div>
        </div>
      </div>
  </section>
  <section class="food__category">
    <div class="container">
       <div class="row">
        <div class="category_nav col-md-12">
          <div class="category_nav_caro owl-carousel owl-theme">
            {% for item in restaurant.food_category.all %}
              {% if item.food.all %}
                <div class="item"><a href="#{{ item.category }}">{{ item.category }}</a></div>
              {% endif %}
            {% endfor %}
        </div>
       </div>
    </div>
  </section>
  {% for item in restaurant.food_category.all %}
   {% if item.food.all %}
    <section class="food-cat-bx sec__category__item" id="{{ item.category }}">
      <div class="container">
        <div class="category_main_head">
            <span>{{ item.category }}</span>
        </div>
        <div class="row">
          {% for food in item.food.all %}
          <div class="col-md-6 mb-4">
            <div class="categ__info" data-id="{{ food.id }}">
              <div class="categ__head">
                <span class="food_item__name">{{ food.name }}</span>
                <p class="food__detail__contain">{{ food.description|truncatechars:120 }}</p>
                <span class="food__item__price">${{ food.new_price }}</span>
              </div>

              <div class="food__item_image">
                <img src="{{ food.image.url }}">
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>
    {% endif %}
  {% endfor %}
  {% include 'core/footer.html' %}
  <div id="more__inf__hldr">
    <div class="google__location__open__hrs" id="more__info__detail">
        <div class="popupcontent__holder">
          <div class="google__map" id="map">
            <span class="map__close__btn"><i class="fa fa-times" aria-hidden="true"></i></span>
          </div>
          <div class="location__hours__opening__days">
              <div class="map__location">
                <h5>Location</h5>
                <span class="location__cordinates">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <a href="#">{{ restaurant.location_text }}</a>
                </span>        
              </div>
          </div>
        </div>
    </div>
  </div><!-- more info popup -->
  <div id="food__decspt__handler">
   <div id="food__descpt__popup" class="popup__food__info">
      <div class="popupcontent__holder">
        <div class="popups__top__banner">
            <img src="" id="food_image">
            <span class="popups__close__button"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <div class="food__detail__description">
            <h3></h3>
            <span></span>
            <p class="food__content__popup"></p>
        </div>
        <form method="post" action="{% url 'core:add-to-order' %}" id="food__detail">
            {% csrf_token %}
            <div class="select__option__food">
              <div class="top__select__intro">
                  <span class="option__head">Select option</span>
                  <span>Required</span>
              </div>
              <div class="popup__content__wrapper" id="modifiers">
                
              </div>
              <div class="popup__content__wrapper">
                  <!-- <div class="customize__item__popup">
                      <a href="#" class="customize__content">Customize this item</a>
                      <a href="#" class="customize__icon"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                  </div> -->
                  <div class="caution__about__food">
                      <p class="caution__contion">
                          <strong>WARNING:</strong> The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                      </p>
                  </div>
              </div>
              <div class="popup__divider__line"></div>
              <div class="add__order__popup">
                  <div class="pop__up__add__sub">    
                      <p>
                        <span id="minus1" class="qty__btn food__qty__dec minus">
                          <img src="{% static 'images/food__pop__desc.png' %}" alt="">
                        </span>

                        <input id="qty1" type="text" name="qty" value="1" class="qty" />
                        <span id="add1" class="qty__btn food__qty__inc add">
                          <img src="{% static 'images/food__pop__inc.png' %}" alt="">
                        </span>
                      </p>
                  </div>
                  <input type="text" name="food_identifier" hidden id="food__id" />
                  <div class="add__order__details">
                      <button class="add_order__btn" id="id_add_cart">
                          <span class="order__btn__popup">Add to Order</span>
                          <!-- <span class="order__btn__price"></span> -->
                      </button>
                  </div>
              </div>
            </div>
        </form>
      </div>
   </div> 
  </div>
{% endblock %}
{% block scripts %}
<script>
  $(".top__banner").css("background-image", "linear-gradient(to top,rgba(0,0,0,0.8),rgba(0,0,0,0.6)), url(" + "{{ main_image.0.image.url }}" + ")");
  $("#more__info").click(function(){
    $("#more__inf__hldr").css({'display': 'flex', 'position' : 'fixed'});
    var y = {{ restaurant.location_point.y }};
    var x = {{ restaurant.location_point.x }};
    var points = [y, x];
    console.log(points);
    
    var map = L.map('map').setView(points, 19);

    var osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    var googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
      maxZoom: 20,
      subdomains:['mt0','mt1','mt2','mt3']
    });
    var googleHybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}',{
      maxZoom: 20,
      subdomains:['mt0','mt1','mt2','mt3']
    });
    var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',{
      maxZoom: 20,
      subdomains:['mt0','mt1','mt2','mt3']
    });
    var googleTerrain = L.tileLayer('http://{s}.google.com/vt/lyrs=p&x={x}&y={y}&z={z}',{
      maxZoom: 20,
      subdomains:['mt0','mt1','mt2','mt3']
    });

    //for changing the layer(layer switcher)
    var baseLayers = {
        "OpenStreetMap": osm,
        "Google Streets": googleStreets,
        "Google Hybrid": googleHybrid,
        "Google Satellite": googleSat,
        "Google Terrain": googleTerrain,
    };

    map.addLayer(googleStreets);
    var layerswitcher = L.control.layers(baseLayers, {}, {collapsed: true}).addTo(map);
    var icons=L.icon({
      iconSize: [44, 45],
      iconAnchor: [10, 22],
      popupAnchor:  [2, -24],
      shadowAnchor: [2, 18],

      iconUrl:"{% static 'images/marker.png' %}",
      shadowUrl: 'https://unpkg.com/leaflet@1.0.3/dist/images/marker-shadow.png'
    });
    var marker = L.marker(points,{icon:icons}).addTo(map);
    marker.bindPopup("<b> {{restaurant.name}} </b>").openPopup();
  });

  $(document).ready(function(){
      $(".categ__info").click(function(){
          var food_id = $(this).attr('data-id');
          $.ajax({
              url: "{% url 'core:get-food-detail' %}",
              data: {
                  'food_id': food_id,
              },
              dataType: 'json',
              success: function(result){
                  console.log(result);
                  var data = result;

                  food_data = data.food;
                  food_data = jQuery.parseJSON(food_data);


                  // console.log(food_data.food[0].fields);
                  $("#food__decspt__handler").css({'display': 'flex', 'position': 'fixed' });
                  
                  $(".food__detail__description h3").html(food_data[0].fields.name);

                  var id_of_food = food_data[0].pk;
                  $("#food__id").val(id_of_food);
                  
                  var cal = food_data[0].fields.calories + 'cal';
                  $(".food__detail__description span").html(cal);

                  var desc = food_data[0].fields.description;
                  $(".food__detail__description p").html(desc);

                  // var base_url = "http://localhost:8000/";
                  var base_url = "http://157.245.213.171:8000/";
                  var src1 = base_url + 'media/' + food_data[0].fields.image;
                  $("#food_image").attr("src", src1);

                  $("#modifiers").html('');
                  var modifiers = [];
                  modifiers = data.modifiers;
                  modifiers = jQuery.parseJSON(modifiers);
                  modifiers.forEach(function(modifier){
                    if (modifier.fields.type === 2){
                      var modifier_content = '<div class="radio__box__wrapper space__between"><div class="radio__box__contain"><label><input required type="radio" name="radio3" value=' + modifier.fields.name_of_ingredient + ' class="mgr mgr-success mgr-lg"/><span> ' + modifier.fields.name_of_ingredient + '</span><span class="qnty__cals">'+ modifier.fields.calories + ' cal</span></label></div><div class="radio__box__price"><span class="radio__price__info">$' + modifier.fields.cost_of_addition + '</span></div></div>'
                    }
                    $('#modifiers').append(modifier_content);
                  });

                  modifiers.forEach(function(modifier){
                    if (modifier.fields.type === 1){
                      var modifier_content = '<div class="checkbox__wrapper space__between"><div class="checkbox__content"><label><input type="checkbox" name="optional_modifiers" value=' + modifier.fields.name_of_ingredient + ' class="mgc mgc-success mgc-lg" /><span> ' + modifier.fields.name_of_ingredient + '</span></label></div><div class="check__item__price"><span class="radio__price__info">$'+ modifier.fields.cost_of_addition + '</span></div></div>';
                    }
                    $('#modifiers').append(modifier_content);
                  });
              }
          });
          
      });           
  });

  // for category nav scroll
  var foodCategoryDistance = $('.food__category').offset().top;

  $(window).scroll(function() {
      if ( $(this).scrollTop() >= foodCategoryDistance ) {
          $('.food__category').addClass('sticky-food-cat-nav');
      } else {
          $('.food__category').removeClass('sticky-food-cat-nav');
      }
  });

  $(document).ready(function(){
    $('.category_nav .item a').on('click', function(e){
      e.preventDefault();
      var target = $(this).attr('href');
      $("html, body").animate({ scrollTop: $(target).offset().top}, 'fast');
      if( $(target).offset().top = 0){
        $(target).addClass('e')
      }
    });
  });

  $("#food__detail").on('submit', function(e){
    if (jQuery('input[type=radio][name=radio3]').length){
			if ($("input:radio").is(':checked')){
				if ($('#qty1').val() <= 0){
					alert('Less than 1 item cannot be ordered.');
          e.preventDefault();
				}
				else{
					$("#food__detail").submit();
				}
			}
			else{
			  alert('Please select one of the customizations.');
        e.preventDefault();
			}
		}
  });
</script>
{% endblock %}