{% extends 'core/base.html' %}
{% load static %}
{% load filters %}
{% block content %}
   <section class="avail__restaurant__list">
	  	<div class="container">
	  			<div class="restaurant__head__section">
	  				<h5>Available Restaurants</h5>
	  			</div>
	  		<div class="row pb-4">
		          <div class="col-lg-6 col-sm-6">
		            <form class="search-box" method="get">
		              <input class="search-input" type="text" placeholder="Search restaurant here.." name="name">
		              
		              <button type="submit" class="search-smt"><i class="fa fa-check" aria-hidden="true"></i>ok</button>
		            </form>
		          </div>
	      </div>
	  		<div class="row">
          {% for item in restaurants %}
	  			<div class="col-md-6 mb-4">
	  				<div class="content__available__restaurant">
	  					<div class="restaurant__thumb__img">
	  						<a href="{% url 'core:restaurant-detail' item.name|space_to_underscore %}">
                  {% if item.logo %}
                    <img src="{{ item.logo.url }}" alt="">
                  {% else %}
                    <img src="{% static 'images/rest_logo.jpg' %}" alt="">
                  {% endif %}
	  						</a>
	  					</div>
	  					<div class="detail__descpt__restaurant">
	  						<a href="{% url 'core:restaurant-detail' item.name|space_to_underscore %}">
	  						<h4>{{ item.name }}</h4>
	  						</a>
	  						<div class="restaurent__location">
	  							<div class="icon__restaurant__locat">
	  								<i class="fa fa-map-marker" aria-hidden="true"></i>
	  							</div>
	  							<span>{{ item.location_text }}</span>
	  						</div>
	  						<div class="restaut__serve__food">
	  							<div class="food__serve__icon__restaut">
	  								<i class="fa fa-stumbleupon-circle" aria-hidden="true"></i>
	  							</div>
	  							<span> Mullti-Cuisine</span>
	  						</div>
	  						<div class="restaut__serve__food">
	  							<div class="food__serve__icon__restaut">
	  								<i class="fa fa-envelope-o" aria-hidden="true"></i>
	  							</div>
	  							<span> {{ item.email }}</span>
	  						</div>
	  					</div>
	  				</div>
          </div>
          {% endfor %}
	  		</div>
	  	</div>
  </section>
  {% include 'core/footer.html' %}
  {% endblock %}