{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
	<style>
		.account__logout a{
			color: #fff;
		}
	</style>
    <section class="user__detail__page">           
    <div class="container">
    	<div class="row pt-4">
    		<div class="col-md-12">
    			<div class="account__setting">
    				<h3>Account Settings</h3>
    				<div class="account__logout">
    					<button><a href="{% url 'logout' %}">Logout</a></button>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="row pt-4"> 		
        	<div class="col-md-3 pb-5">
        		<div class="user__profile__nav">
	        		 <ul class="nav nav-tabs" role="tablist">
		                <li class="nav-item">
		                    <a class="nav-link active" data-toggle="tab" href="#home">
		                        <i class="fa fa-user-o" aria-hidden="true"></i>My Profile</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" data-toggle="tab" href="#menu1">
		                        <i class="fa fa-key" aria-hidden="true"></i>Password</a>
		                </li>
		                <li class="nav-item">
		                    <a class="nav-link" data-toggle="tab" href="#menu2">
		                        <i class="fa fa-shopping-basket" aria-hidden="true"></i>Order History</a>
		                </li>
		             </ul>
	             </div>
        	</div>
        	<div class="col-md-9">
	        	<div class="tab-content">
	                <div id="home" class="container tab-pane active">
  		                    <div class="user__form__wrapper">
			                    <form action="{% url 'user:edit-profile' %}" class="pt-4" name="profile" method="POST" enctype="multipart/form-data">
									{% csrf_token %}
                                    <div class="col-md-12 user__prof__upd">
                                         <div class="uploded__image">
											{% if profile.image %}
												<img src="{{ profile.image.url }}" id="output"/>
											{% else %}
												<img src="{% static 'images/user.png' %}" id="output"/>
											{% endif %}
                                         </div>
                                        <label for="file">Edit</label>
                                        <input type="file"  accept="image/*" name="image" id="file"  onchange="loadFile(event)" style="display: none;">
                                    </div>
			                        <div class="col-md-6">
			                            <div class="form-group">
			                                <label for="username">FIRST NAME</label>
			                                <input type="text" class="form-control" name="first_name" id="first_name" value="{{ request.user.first_name }}">
			                            </div>
			                        </div>
			                        <div class="col-md-6">
			                            <div class="form-group">
			                                <label for="lastname">LAST NAME</label>
			                                <input type="text" class="form-control" name="last_name" id="lastname" value="{{ request.user.last_name }}">
			                            </div>
			                        </div>
			                        <div class="col-md-6">
			                            <div class="form-group">
			                                <label for="number">CONTACT NUMBER</label>
			                                <input type="text" class="form-control" name="contact" id="number" value="{{ profile.contact }}">
			                            </div>
			                        </div>
			                        <div class="col-md-6">
			                            <div class="form-group">
			                                <label for="email">EMAIL</label>
			                                <input type="email" disabled class="form-control" name="email" id="email" value="{{ request.user.email }}">
			                            </div>
									</div>
									<div class="col-md-6">
			                            <div class="form-group">
			                                <label for="address">ADDRESS</label>
			                                <input type="text" class="form-control" name="address" id="address" value="{{ profile.address }}">
			                            </div>
									</div>
									<div class="col-md-6">
			                            <div class="form-group">
			                                <label for="zip">ZIP CODE</label>
			                                <input type="number" class="form-control" name="zip" id="zip" value="{{ profile.zip_code }}">
			                            </div>
									</div>

			                        <button type="submit" class="btn form__save">Save</button>
			                    </form>
		                    </div>
	                </div>
	                <div id="menu1" class="container tab-pane fade">
	                    <div class="col-md-6">
	                        <form name="password-change" method="POST">
								{% csrf_token %}
	                            <div class="col-md-12">
	                                <div class="form-group">
										<label for="id_old_password">Old Password</label>
										{{ password_form.old_password|add_class:"form-control" }}
										{% if password_form.old_password.errors %}
											<span style="color:red;">Your old password is incorrect.</span>
										{% endif %}
	                                </div>
	                            </div>
	                            <div class="col-md-12">
	                                <div class="form-group">
	                                    <label for="id_new_password1">New Password</label>
										{{ password_form.new_password1|add_class:"form-control" }}
										{% if password_form.new_password1.errors %}
											{% for error in password_form.new_password1.errors %}
												<span style="color:red;">{{ error }}</span>
											{% endfor %}
										{% endif %}
	                                </div>
	                            </div>
	                            <div class="col-md-12">
	                                <div class="form-group">
	                                    <label for="id_new_password2">Confirm New Password</label>
	                                    {{ password_form.new_password2|add_class:"form-control" }}
										{% if password_form.new_password2.errors %}
											{% for error in password_form.new_password2.errors %}
												<span style="color:red;">{{ error }}</span>
											{% endfor %}
										{% endif %}
	                                </div>
	                            </div>
	                            <button type="submit" name="password-change" class="pass__btn form__save">Save</button>
	                        </form>
	                    </div>
	                </div>
	                <div id="menu2" class="container tab-pane fade">
	                    <div class="col-md-6">
	                        <div class="history__detail">
	                            <p>order history</p>
	                            <div class="current__order__hist">
	                            	<div class="order__detail___tlt__prc">
            		                    <span>CURRENT ORDERS (Pending)</span>
            		                    <!-- <span><strong>$59.0</strong></span> -->
	                            	</div>
	                                <ul>
										{% for item in current_orders %}
											{% for obj in item.cart.all %}
												<li>{{ obj.food.name }} <span>(${{obj.get_total}})</span></li>
											{% endfor %}
										{% endfor %}
	                                    
	                                </ul>
	                            </div>
	                            <div class="past__order__hist">
	                                <div class="order__detail___tlt__prc">
            		                    <span>PAST ORDERS (Delivered)</span>
	                            	</div>
	                                <ul>
										{% for item in past_orders %}
											{% for obj in item.cart.all %}
												<li>{{ obj.food.name }}<span>(${{obj.get_total}})</span></li>
											{% endfor %}
										{% endfor %}
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
            </div>
        </div>
    </div>
    </section>
    {% include 'core/footer.html' %}
    {% endblock %}
    {% block scripts %}
    <script>
        var loadFile = function(event) {
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
    {% endblock %}